---
---

* {
	margin: 0;
	padding: 0;
}

body {
	color: #DDD;
	background-color: #25252C;
	font-family: Georgia, serif;
	-webkit-font-smoothing: antialiased;

	a {
		// color: #F42; Old colour with accessability issues
		color: #FF4830;
		-webkit-transition: color .15s linear;
		-moz-transition: color .15s linear;
		transition: color .15s linear;
	}

	a:hover {
		color: #FC9;
	}
}

#top {
	position: relative;
	background-color: #2D2C35;
	border-bottom: 1px solid #484852;
	background-image: url(/img/pixels.png);
	font-family: "Helvetica", Arial, sans-serif;
	height: 120px;

	h1 a {
		display: block;
		position: absolute;
		bottom: -10px;
		right: 64px;
		font-weight: normal;
		font-size: 42px;
		color: #FFF;
		text-decoration: none;
	}

	#mainNav {
		position: absolute;
		top: 32px;
		right: 64px;

		li {
			float: right;
			list-style: none;
		}

		li a {
			text-decoration: none;
			padding: 12px;
			background-color: rgba(0, 0, 0, 0.4);
			margin-left: 10px;
		}

		li a:hover
		{
			color: #FFF;
		}
	}
}


#content {
	max-width: 800px;
	margin: auto;
	padding: 68px;
	font-size: 20px;
	line-height: 156%;
	text-shadow: 0px 1px 1px #080812;
	clear: both;
	border-bottom: 1px solid #35333C;

	img {
		max-width: 100%;
		display: block;
		margin: auto;
		margin: 2.4em 0;
	}

	sub, sup {
		line-height: 0;
	}

	article.last, section.page {
		border: none;
	}

	p {
		margin: 18px 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Helvetica", Arial, sans-serif;
		color: #FFF;
		font-weight: normal;
		line-height: 132%;
		margin-bottom: 0;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
		margin-top: 32px;
	}

	h3.date {
		font-size: 18px;
		display: inline-block;
		color: #CCC;
		margin-top: 0;
		margin-bottom: 12px;
		padding-bottom: 2px;
		border-bottom: 1px solid #35333C;
	}

	h4 {
		margin-top: 32px;
		font-size: 20px;
		font-weight: 600;
	}

	ul, ol {
		margin: 18px 0;
		margin-left: 38px;
	}

	.readMore {
		position: relative;
		display: block;
		padding: 32px 0;

		a {
			float: right;
			text-decoration: none;
			padding: 12px;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	blockquote {
		margin: 32px 0 32px 32px;
	}

	code {
		background: #15151C;
		padding: 4px;
	}

	hr {
		border: none;
		background: #999;
		height: 1px;
		margin: 2.4em 2em;
	}
}


#bottom {
	max-width: 800px;
	margin: auto;
	padding: 68px 80px;
	font-family: "Helvetica", Arial, sans-serif;
	text-align: right;
}

@media screen and (max-width: 959px) {
	#content {
		font-size: 100%;
		padding: 24px;
	}

	#content article > h2 {
		font-size: 24px;
		padding-top: 32px;
		padding-bottom: 4px;
	}
}
