* {
	margin: 0;
	padding: 0;
}

body {
	color: #DDD;
	background-color: #25252C;
	font-family: Georgia, serif;
	-webkit-font-smoothing: antialiased;

	a {
		// color: #F42; Old colour with accessability issues
		color: #FF4830;
		-webkit-transition: color .15s linear;
		-moz-transition: color .15s linear;
		transition: color .15s linear;
	}

	a:hover {
		color: #FC9;
	}
}

#top {
	position: relative;
	background-color: #2D2C35;
	border-bottom: 4px solid #484852;
	background-image: url(/img/pixels.png);
	image-rendering: pixelated;
	font-family: "Helvetica", sans-serif;
	height: 68px;

	h1 a {
		display: block;
		position: absolute;
		bottom: -10px;
		right: 64px;
		font-weight: normal;
		font-size: 42px;
		color: #FFF;
		text-decoration: none;
		text-shadow: 0 0 3px #080812;
	}
}

#main {
	display: flex;
	flex-direction: column;
	border-bottom: 4px solid rgba(0, 0, 0, 0.8);

	#mainNav {
		display: flex;
		width: 100%;
		max-width: 100%;
		font-size: 1.1rem;
		font-family: "Helvetica", sans-serif;
		background: rgba(0,0,0,0.4);
		border-bottom: 4px solid rgba(0, 0, 0, 0.8);

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;

			li {
				list-style: none;

				a {
					display: block;
					padding: 1.2rem 1.4rem;
				}

				&.active {
					background: rgba(0, 0, 0, 0.6);

					a {
						color: #FFF;
					}
				}
			}
		}
	}
}

#content {
	max-width: 800px;
	margin: auto;
	padding: 2.8rem 3rem 3rem 3rem;
	font-size: 20px;
	line-height: 156%;
	text-shadow: 0 1px 1px #080812;

	img {
		max-width: 90%;
		display: block;
		margin: auto;
		height: auto;
		border: 4px solid darken(#25252C, 10%);
	}

	sub, sup {
		line-height: 0;
	}

	article.last, section.page {
		border: none;
	}

	p {
		margin: 18px 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Helvetica", sans-serif;
		color: #FFF;
		font-weight: normal;
		line-height: 132%;
		margin-bottom: 0;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
		margin-top: 32px;
	}

	h3.date {
		font-size: 18px;
		display: inline-block;
		color: #CCC;
		margin-top: 0;
		margin-bottom: 12px;
		padding-bottom: 2px;
		border-bottom: 1px solid #35333C;
	}

	h4 {
		margin-top: 32px;
		font-size: 20px;
		font-weight: 600;
	}

	ul, ol {
		margin: 18px 0;
		margin-left: 38px;
	}

	.readMore {
		position: relative;
		display: block;
		padding: 32px 0;

		a {
			float: right;
			text-decoration: none;
			padding: 12px;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	blockquote {
		margin: 32px 0 32px 32px;
	}

	code:not([attribute]) {
		font-size: 90%;
		line-height: inherit;
		background: #15151C;
		padding: 4px;
	}

	hr {
		border: none;
		background: #999;
		height: 1px;
		margin: 2.4rem 2rem;
	}
}

#bottom {
	font-family: "Helvetica", sans-serif;
	text-align: right;
	background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 42%);

	.content {
		margin: auto;
		padding: 64px;
	}
}

@media screen and (max-width: 680px) {
	#content {
		font-size: 100%;
		padding: 1rem 2rem 3rem 2rem;
	}

	#content article > h2 {
		font-size: 24px;
		padding-top: 32px;
		padding-bottom: 4px;
	}

	#top {
		height: 48px;

		h1 a {
			right: 32px;
			font-size: 32px;
			bottom: -8px;
		}
	}

	#main {
		#mainNav {
			ul {
				li {
					a {
						font-size: 88%;
						padding: 1.2rem 1.4rem 1rem 1.4rem;
					}
				}
			}
		}
	}

	#bottom {
		text-align: center;
		font-size: 0.8rem;

		.content {
			margin: 0;
			padding: 1rem 32px;

			p {
				margin: 0.8rem 0;
			}
		}
	}
}

#content figure.highlight {
	border: 2px solid rgba(0, 0, 0, 0.4);
	padding: 0.6em;
	background-color: #232323;
	line-height: 1.4;
	text-indent: none;

	pre {
		position: relative;
		overflow-x: scroll;
		font-size: 16px;
		color: #E6E1DC;
		border: none;
	}
	pre code {
		word-wrap: normal;
		white-space: pre;
		overflow-x: auto;
		background: none;
		padding: 0;
	}
	pre .gd {
		color: #E6E1DC;
		background-color: #660000;
	}
	pre .gi {
		color: #E6E1DC;
		background-color: #144212;
	}
	pre .c, pre .c1, pre .c2 {
		color: #BC9458;
	}
	pre .s1, pre .s2, pre .s, pre .sr {
		color: #A5C261;
	}
	pre .nv {
		color: #D0D0FF;
	}
	pre .k, pre .o, pre .kp {
		color: #CC7833;
	}
	pre .mi {
		color: #A5C261;
	}
	pre .ss {
		color: #6E9CBE;
	}
	pre .si {
		color: #519F50;
	}
	pre .vi {
		color: #D0D0FF;
	}
	pre .p {
		color: #CC7833;
	}
	pre .m {
		color: #A5C261;
	}
	pre .nb {
		color: #A5C261;
	}
	pre .mh {
		color: #D0D0FF;
	}
	pre .nl {
		color: #6E9CBE;
	}
	pre .nt, pre .nc, pre .na {
		color: #FFC66D;
	}
}
